/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
    background-color:rgb(248, 182, 59);
}
.header-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-div div{
    margin:0 70px;
}
.header-div div span{
    margin-left:15px;
    
}
header img{
    height:120px;
}
i{
    font-size: 20px;
}
.main-container{
	display:flex;
	justify-content: center;
	margin:45px 0;
}
.main-div{

	margin: 0 30px;
	height:500px;
	border-radius: 15px;
	
}
.div1{
	background-color: #BFDBFE;
	width:400px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	
	
	
}
.content{
	margin:35px 30px;
	padding:5px;
	
	
}
.content i{
	vertical-align: middle;
}
.content span{
	vertical-align: middle;
}
.border{
	border:2px solid rgb(248, 182, 59);
	border-radius: 6px;
	color:rgb(248, 182, 59);
	
}
.container2-content{
	margin:20px 30px;
	padding:10px;
	background-color: white;
	border-radius: 6px;
}
.container2-content i{
	vertical-align: middle;
}
.container2-content p{
	vertical-align: middle;
}
.div2{
	background-color: #93C5FD;
	width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.row1{
	height:50%;
	width:70%;
	margin:10px auto;
	background-color: white;
	border-radius: 15px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.row1 img{
	width:90%;
	height:90%;
}
h2{
	font-size: 35px;
	width:80%;
	color:rgb(33, 3, 102);
	margin:0 15px;
}
p{
	  font-size: 19px;
	  margin:0 15px;
	  width:85%;
} 
button{
	width:120px;
	height:40px;
	margin:2px 8px;
	background-color: black;
	color:white;
	border-radius: 10px;
	border:none;
	outline: none;
}
footer{
	background-color: rgb(248, 182, 59);
	height: 60px;
	display:flex;
	
}
    
	
.footer-div{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width:1260px;
	margin: 0 auto;

	
}
.footer-div p{
	margin:0;
	width:92%;
}
