/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


:root{
    --primary-color: #10B981;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    border:none;
}
header{
    background-color: var(--primary-color);
    text-align: center;
    color:white;
    height: 300px;
}
.clearfix::before,.clearfix::after{
    content:"";
    display:table;

}
.clearfix::after{
    clear:both;
}
.header-div h6{ 
    float:left;
    position:relative;
    left:120px;
    top:15px;
    font-size: 25px;

}
.header-div nav{

    float:right;
    position:relative;
    right: 70px;
    top:15px;
    font-size: 20px;
}
.header-div nav a{
    margin:10px;
}
header h1{
    font-size:40px;
    margin:50px;
}
header p{
    font-size: 20px;
    
}
.row2{
    background-color: white;
}

.row2-col{
    float:left;
    width:23.33%;
    margin:5%;
}
.row2-col h3{
    color:white;
    font-size:25px;
    margin:20px 0;
}
.row2-col p{
    font-size: 20px;
    margin:10px 0;

}
.row2-col button{
    margin:12px 0;
    background-color:#10B981;
    font-size:20px;
    height: 50px;
    width:90px;
    color:white;
}
.row3{
    text-align: center;
    background-color:#10B981;
    padding:50px;
}
.row3 h2{
    font-size: 30px;
    
}
.row3 p{
    font-size:20px;
    margin:20px 0;
}
.row3-container{
    
    text-align:center;
    width:90%;
    margin:30px auto;
    
    
}
.row3-column{
    float:left;
    width:17%;
    border:1px solid white;
    margin:4%;
    box-sizing: border-box;
    
    height:300px;
    
}
.row3-column img{
    height:130px;
    width:130px;
    border-radius: 50%;
    margin-top:30px;
}
.row3-column h4{
    font-size: 30px;
    margin:12px;
}
.row4{
    text-align: center;
    margin:30px;
}
.row4 h4{
    font-size:30px;
    color:#10B981;
    margin:20px;
}
.row4 p{
    font-size:20px;
}
.row4-container{
    margin-top:30px;
    text-align: center;
}
.row4-col{
    float:left;
    text-align: start;
    width:45%;
    margin:2.5%;
}
.row4-col img{
    width:100%;
    height:150px;
}
.row4-col h3{
    font-size: 30px;
    color: #10B981;
    margin: 20px 0;
}
.row4-col button{
    margin-top:20px;
    background-color:#10B981;
    height:50px;
    width:100px;
    font-size: 20px;
}
.row4 hr{
    width:95%;
}
.footer-div{
    width:95%;
    margin:0 auto;
}
.left{
    float:left;
    
}
.right{
    float:right;
    font-size: 20px;
    
    
}
.right a{
    margin:10px;
}