body    {
    background-color:rgb(6, 6, 97);

}
h1,p,h5,h3,h4{
    color: whitesmoke;
}
h2{
    color:aqua;
}
#underline  {
text-align: center;
}
a {
    color:red;
}
header{
    text-align: center;

}
#div2{
background-color: black;
}
